{% extends "UserMaster.html" %}

{% block content %}

<section class="content-header">
    <h1>Project {{projectName}}</h1>
</section>

<section class="content">
  {% for message in get_flashed_messages() %}
  <div class="box box-solid" style="background-color:#DEF0D8 ; height: 100%;">
    <div class="box-header text-center">
      <h3 class="box-title" style="color: black; font-family:inherit; font-size: medium;"> {{message}}</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times" style="color:black;background-color: transparent;"></i></button>    
      </div>
      <!-- /.box-tools -->
    </div>
  </div>
  {% endfor %}

  {%if hasIndicated == True  %}
    {% if hasAllIndicated == False%}
  <div class="box box-solid" style="background-color:#DEF0D8 ; height: 100%;">
    <div class="box-header text-center">
      <h3 class="box-title" style="color: black; font-family:inherit; font-size: medium;"> Waiting for all users to indicate their preference...</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times" style="color:black;background-color: transparent;"></i></button>    
      </div>
      <!-- /.box-tools -->
      
    </div>
  </div>
    {%else%}
    <div class="box box-solid" style="background-color:#DEF0D8 ; height: 100%;">
      <div class="box-header text-center">
        <h3 class="box-title" style="color: black; font-family:inherit; font-size: medium;"> Roles allocated</h3>
  
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times" style="color:black;background-color: transparent;"></i></button>    
        </div>
      </div>
    </div>
    {%endif%}
  {%endif%}

    <div class="row">
        <div class="col-xs-12">          
          {% if isAllocated == True %}
          <div class="box collapsed-box" style="margin-top: 1%;">
            {%else%}
            <div class="box" style="margin-top: 1%;">
              {%endif%}
            <div class="box-header">
              {% if isAllocated == True %}
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
              </div>
              {%endif%}
              <form action="/ViewMembers" method="POST" style="display: inline-block;">
                <input type="hidden" name="purpose" value="viewMember">
                <input type="hidden" name="projectId" value="{{projectId}}">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-users"></i>
                    View Members
                  </button> 
            </form>      
            {%if currentUserRole == True and isAllocated == True %}
              <form action="/GenerateReport" method="POST" style="display: inline-block;">
                <input type="hidden" name="projectId" value="{{projectId}}">
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-pie-chart"></i>
                  Generate Report
                </button>   
              </form> 
                      
              {%endif%}
            </div>
            <!-- /.box-header -->
            {% if isAllocated == True %}
            <div class="box-body" style="display: none;">  
              {%else%}
              <div class="box-body">
                {%endif%}         
              <table id="tbl" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Role Description</th>

                  {% if isAllocated == false %}
                    <th>Rank</th>
                    {%else%}
                    <th>Allocated To</th>
                    {%endif%}
                </tr>
                </thead>
                <tbody>
                  
                {% if isAllocated == false %}
                  {% for value in taskList %}
                  <tr>
                    {% if purpose == 'backToManage' or purpose == 'indicatePreference' or purpose == 'viewProject' or (purpose == 'insertPreference' and hasIndicated == True) %}
                      <td>
                        {{value[2]}}
                      </td>
                      {%else%}
                      <td>
                        {{value}}
                      </td>
                      {%endif%}
                      <td>
                        <form method="POST" action="/ManageProject">  
                          <input type="hidden" value="indicatePreference" name="purpose">     
                          <input type="hidden" value="{{projectId}}" name="projectId">                  
                          {%if hasIndicated == false %}
                          <select name="ddlRank" class="form-control select2" >
                            {% for n in range(1, taskList|length + 1) %}
                              <option value='{{n}}'>{{n}}</option>
                            {%endfor%}
                          </select>
                          {%else%}
                              <label>{{selectedRanks[loop.index-1]}}</label>              
                          {%endif%}
                      </td>
                  </tr>
                  {%endfor%}
                {%else%}
                  {% for value in taskList %}
                  <tr>                 
                    <td>{{value[2]}}</td>
                      <td>{{value[6]}} {{value[7]}}</td>
                  </tr>
                  {%endfor%}
                {%endif%}
                </tbody>
              </table>
              <br>
              
                <input type="hidden" name="purpose" value="insertPreference">
                {% if hasAllIndicated == false %}
                    {%if hasIndicated == false %}
                    <button type="submit" class="btn btn-primary">Submit                
                    </button> 
                    {%endif%}
                  {%endif%}
              </form>
              </div>
          </div>
        </div>
      </div>

      {% if isAllocated == True %}
      <div id="individualLogs">
      <div class="box box-primary">   
        <div class="box-header with-border">
          <div class="col-md-3">             
            <div class="form-group">
              <label class="control-label" style="font-size: 15pt;">Update Log : </label>
            </div>              
          </div>
        <div class="col-md-5">
          <form method="POST" action="/ManageProject">
              <textarea name="log" style="width: 100%;"></textarea>
          </div>
          
          <div class="col-md-4">
          
            <input type="hidden" name="purpose" value="newLog">
            <!-- {% if projectLogList|length != 0 %} -->
            <input type="hidden" name="TaskID" value="{{projectLogList[0][0]}}">
            <!-- {%endif%} -->
            <input type="hidden" value="{{projectId}}" name="projectId"> 
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
            
            <div class="pull-right">
              <button type="submit" class="btn btn-default" onclick="hideShowView()">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Group View</button>
            </div>
          </div>

        </div> 
      <div class="box-body">
        <!-- {% if projectLogList|length != 0 %} -->
        <label>Allocated Role : {{projectLogList[0][1]}}</label>
        <!-- {%endif%} -->
      <div class="row">
        <div class="col-xs-12">  
        <table id="tbl2" class="table table-bordered table-hover">
          <thead>
          <tr>         
              <th>Task</th>
              <th>Name</th>
              <th>Date Completed</th>
          </tr>
          </thead>
          <tbody>
            {% if projectLogList|length != 0 %}
            {% for row in projectLogList %}
            <tr>
              <td>{{row[2]}}</td>
              <td>{{currentUser}}</td>
              <td>{{row[3]}}</td>
            </tr>
            {% endfor %}
            {%endif%}
          </tbody>
        </table>   
        </div>     
      </div>
      </div>
    </div>
      </div>
      {%endif%}

      <div id="groupLogs" style="display: none;">
      <div class="box box-primary">   
        <div class="box-header with-border">
          <div class="col-md-8">
            <label style="font-size: 15pt;">
              View Group Logs
            </label>
          </div>
          
          <div class="col-md-4">
            <div class="pull-right">
              <button type="submit" class="btn btn-default" onclick="hideShowView()">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Individual View</button>
            </div>
          </div>
        </div> 
      <div class="box-body">
        
      <div class="row">
        <div class="col-xs-12">  
        <table id="tbl2" class="table table-bordered table-hover">
          <thead>
          <tr>         
            <th>Task</th>
            <th>Name</th>
            <th>Date Completed</th>
          </tr>
          </thead>
          <tbody>
            {% if grpProjectLog|length != 0 %}
            {% for row in grpProjectLog %}
            <tr>
              <td>{{row[1]}} : {{row[3]}}</td>
              <td>{{row[2]}}</td>
              <td>{{row[4]}}</td>
            </tr>
            {% endfor %}
            {%endif%}
          </tbody>
        </table>   
        </div>     
      </div>
      </div>
      </div>
    </div>
    {%if hasIndicated == True  %}
    <form method="GET" action="/ViewProject" style="display: inline-block;">
      <button type="submit" class="btn btn-default">Back                
      </button> 
    </form>
    {% elif hasIndicated == False and purpose == 'viewProject' %}
    <form method="GET" action="/ViewProject" style="display: inline-block;">
      <button type="submit" class="btn btn-default">Back                
      </button> 
    </form>
    {%else%}
    <form method="POST" action="/TaskDelegation" style="display: inline-block;">
      <input type="hidden" value="delegate" name="purpose">
      <input type="hidden" value="{{projectId}}" name="projectId"> 
      <button type="submit" class="btn btn-default">Back                
      </button> 
    </form>
    {%endif%}
</section>

<script>
function hideShowView() {
  var x = document.getElementById("groupLogs");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

  var y = document.getElementById("individualLogs");
  if (y.style.display === "none") {
    y.style.display = "block";
  } else {
    y.style.display = "none";
  }
}
</script>
{% endblock %}