{% extends "HomeMaster.html" %}

{% block content %}
<!-- Main content -->
<section class="content">      
  <div class="register-box">
    <div class="register-logo">
      <a><b>Scheduling</b>MP</a>
    </div>

    <div class="nav-tabs-custom">
      
      <div class="tab-content">
        <div class="tab-pane active" id="fa-icons">
        <div class="register-box-body">
          <p class="login-box-msg">Register as a new User</p>
          
          <form action="/SignUp" method='POST'>
            <input type="hidden" value="PersonalUserSignUp" name="pageName" />
            <div class="form-group has-feedback">
              <input type="text" class="form-control" placeholder="First name" required="true" name="userFirstName">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="text" class="form-control" placeholder="Last name" required="true" name="userLastName">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="email" class="form-control" name="userEmail" placeholder="Email" required>
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" placeholder="Password" required="true" id="password" onkeyup='checkPasswordMatches();'>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" name="userPassword" placeholder="Retype password" required="true" id="confirm_password" onkeyup='checkPasswordMatches();'>
              <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
              <span id='message' name="msg"></span>
              <input type="hidden" name="hidden" />
            </div> 
                <button type="submit" class="btn btn-primary btn-block btn-flat" id="btnUserReg">Register</button>
          </form>
      
          <a href="{{ url_for('Login') }}" class="text-center">I already have a membership</a>
        </div>
      </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}