{% extends "HomeMaster.html" %}

{% block content %}
<!-- Main content -->
<section class="content">
  {% for message in get_flashed_messages() %}
  <div class="box box-solid" style="background-color:#F6D6D9 ; height: 100%;">
    <div class="box-header text-center">
      <h3 class="box-title" style="color: black; font-family:inherit; font-size: medium;"> {{message}}</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times" style="color:darkred;background-color: transparent;"></i></button>    
      </div>
      <!-- /.box-tools -->
    </div>
  </div>
  {% endfor %}        
  <div class="register-box">
    <div class="register-logo">
      <a><b>Project</b>MS</a>
    </div>

    <div class="nav-tabs-custom">
      
      <div class="tab-content">
        <div class="tab-pane active" id="fa-icons">
        <div class="register-box-body">
          <p class="login-box-msg">Register as a new User</p>
          
          <form action="/SignUp" method='POST' onsubmit='return checkPasswordMatches();'>
            <input type="hidden" value="PersonalUserSignUp" name="pageName" />
            <div class="form-group has-feedback">
              <input type="text" class="form-control" placeholder="First name" required="true" name="userFirstName" maxlength="20">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="text" class="form-control" placeholder="Last name" required="true" name="userLastName" maxlength="20">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="email" class="form-control" name="userEmail" placeholder="Email" required maxlength="20">
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" placeholder="Password" required="true" id="password" maxlength="15">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" name="userPassword" placeholder="Retype password" required="true" id="confirm_password" maxlength="15" >
              <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
              <span id='message' name="msg"></span>
              <input type="hidden" name="hidden" />
            </div> 
                <button type="submit" class="btn btn-primary btn-block btn-flat" id="btnUserReg">Register</button>
          </form>
      
          <a href="{{ url_for('Login') }}" class="text-center">I already have a membership</a>
        </div>
      </div>
  </div>
  </div>
  </div>
</section>
<script>
  function checkPasswordMatches(){
    var password = document.getElementById('password');
    var confirm  = document.getElementById('confirm_password');
    if(password.value != confirm.value){
      alert("Password does not match!");
      return false;

    }
  }
</script>

{% endblock %}