{% extends "UserMaster.html" %}

{% block content %}

<section class="content-header">
    <h1>Create Roles</h1>
</section>

<section class="content">
    <div class="box box-primary">   
        <div class="box-header with-border">
            <h3 class="box-title">Enter Role Name</h3>
          </div> 
          <div class="box-body">
            {%for i in range(1, noOfMembers+1)%} 
            <div class="row">
                <form action="/TaskDelegation" method="POST">
                  <input type="hidden" value="{{projectId}}" name="projectId">
                  <div class="col-md-2">             
                      <div class="form-group">
                        <label class="control-label" style="font-size: initial; padding-top: 5%;">Role {{i}} : </label>
                      </div>              
                    </div>
 
                  <div class="col-md-3">
                        <textarea name="taDescription{{i}}" class="form-control"></textarea>
                    </div>                  
              </div>
              <br>
              
              {%endfor%}
              <hr>
                <input type="hidden" value="delegateTask" name="purpose">
                <button type="submit" class="btn btn-primary"> 
                    Create Project
                  </button>
              </form>

              <form action="/CreateProject" method="POST" style="display: inline-block;">
                <button type="submit" class="btn btn-default"> 
                  Back
                </button>
              </form>

            </div>

      </div>
</section>

{% endblock %}